# How do yo think the value is assigned

In [1]:
# There is two basic way use for assign the values
# 1. Assigning value for single variable
# 2. Multiple Assignment

In [2]:
# 1. Assigning value for single variable
a = 10 
name = "Victor"
salary = 203.56
print(a, name, salary)

10 Victor 203.56

In [3]:
# Multiple Assignment
a=b=c=10
x,y,z=10,20,30
print(b, y)

10 20

# Python Tokens

In [4]:
# Smallest individual unit of any program is known as token
# Following type of tokens are:
# 1. Keywords
# 2. Identifiers
# 3. Literals
# 4. Operator

In [5]:
# Keywords- Reserved 30 words which have a specific task

In [6]:
# Identifiers - Used to identify variable, function, class and object
# Rules for define identifiers:
# 1. only _(underscore) allowed in symbols
# 2. Keyword can not used
# 3. Case Sensitive
# 4. First character of an identifier can be character or _ not number 
_a=10 
number = 10
A=10
a=9

In [7]:
# Literals - Constant used in python
# Following literals are:
# 1. String Literals
# 2. Numeric Literals
# 3. Boolean Literals
# 4. Special Literals

In [8]:
# String Literals - Foremd by enclosing in text in the quotes both single and double can be used.
name1 = "John"
name2 = 'James'
print(name1, name2)

John James

In [9]:
text1 = 'hello\
word'
text1

'helloword'

In [10]:
multiline = '''
str1
str2
str3'''
multiline

'\nstr1\nstr2\nstr3'

In [11]:
# Numeric Literals
# Int - (+ve and -ve) numbers(integer) with no fractional part ex 100, -244
# long - unlimited integer size followed by upper and lower case according to memory size ex- 2334567888667L
# float - real number with both integer and fractinal part ex- -213.86
# complex - In the form of a+bj where 'a' forms the real part and 'b' forms the imaginary part ex-3.14j

In [12]:
# Boolean Literals
# Can have only two values
# 1. True
# 2. False

In [13]:
# Special Literals
# None
val1 = None
print(val1)

None

# Operators in Python

In [14]:
# Arithmetic operator (+, -, *, /, %)
# Assignment (=, +=, -=, *=)
# Comparison (==, !=, <=, >=, <, >)
# Logical (and, or, not)
# bitwise (&,!,>>,<<,~)
# Identity(is, isnot)
# membership (in, notin)

In [15]:
a = 10
b = 20
a+b
a-b
a*b
a/b
a%b

10

In [16]:
x = 10
x += 1
x -= 1
x*=10
x

100

In [17]:
a==x
a!=x
a<=x
a>=x
a<x
a>x

False

In [18]:
a==b and a==x
a==b or a==x

False

In [19]:
a&b

0

In [20]:
a|b

30

In [21]:
a<<1

20

In [22]:
a>>1

5

In [23]:
~a

-11

In [24]:
x = 10
x is 10

True

In [25]:
x is not 10

False

In [26]:
fruits = ['mango','banana','orange']

In [27]:
fruits

['mango', 'banana', 'orange']

In [28]:
'mango' in fruits

True

In [29]:
'mango' not in fruits

False

# Python DataTypes

In [30]:
'''
Data Typles
1. Immutable
    1. Numbers
    2. Strings
    3. Tuples
2. Mutable
    1. Lists
    2. Dictionaries
    3. Sets
'''

'\nData Typles\n1. Immutable\n    1. Numbers\n    2. Strings\n    3. Tuples\n2. Mutable\n    1. Lists\n    2. Dictionaries\n    3. Sets\n'

In [31]:
# Numbers
num = 1234
rate = 13.6
message = 'Hello'
type(num)
type(rate)
type(message)

str

# String

In [32]:
var1 = 'Helloworld'
var2 = 'PythonTutorail'

In [33]:
print(var1[0])

H

In [34]:
print(var2[1:5])

ytho

In [35]:
# find() -  Return the position of string
str = 'Attachement'

In [36]:
str.find('me')

7

In [37]:
# replace() -> replace the particular character with other character
str.replace('me','m')

'Attachemnt'

In [38]:
# split() -> split the string using separator
str = 'word1, word2, word3'
str.split(',')

['word1', ' word2', ' word3']

In [39]:
# count() -> Return the count of the character
str = "intelipaath"
str.count('a')

2

In [40]:
# upper() -> convert the character string into upper case
str.upper()

'INTELIPAATH'

In [41]:
# min() -> find the minimum value of string
# max() -> find the maximum value of string
max(str), min(str)

('t', 'a')

# Tuples

In [42]:
# Tuples -> tuples are a group of values within()
myGroup = ('a','b', 'c','d')

In [43]:
# Concatenate -> Add two string/character
myGroup += ('f',)
myGroup

('a', 'b', 'c', 'd', 'f')

In [44]:
# Repetition -> Duplicate string/character
myGroup*2

('a', 'b', 'c', 'd', 'f', 'a', 'b', 'c', 'd', 'f')

In [45]:
# Indexing -> Show the index character
myGroup[2]

'c'

In [46]:
# Slicing -> show the specific set of index character/string
myGroup[1:4]

('b', 'c', 'd')

# Lists

In [47]:
# Lists - > group of values within []
myList = ['a','b',7.12,'data']

In [48]:
# Concatenate -> Add element to the list
myList += ['d']
myList

['a', 'b', 7.12, 'data', 'd']

In [49]:
# Repetition-> Duplicate string
myList*2

['a', 'b', 7.12, 'data', 'd', 'a', 'b', 7.12, 'data', 'd']

In [50]:
# Slicing -> slice the string according to index
myList[1:3]

['b', 7.12]

In [51]:
# append()-> append the values in the list
myList.append('d')
myList

['a', 'b', 7.12, 'data', 'd', 'd']

In [52]:
# extend() -> extend the list
myList.extend(['ccccc','ddddddd'])
print(myList)

['a', 'b', 7.12, 'data', 'd', 'd', 'ccccc', 'ddddddd']

In [53]:
# insert(index, value)-> insert the value on specific index
myList.insert(2, 3.14)
print(myList)

['a', 'b', 3.14, 7.12, 'data', 'd', 'd', 'ccccc', 'ddddddd']

# Dictionaries

In [54]:
# Dictionary -> Dictionaries are group of values within {key:value}
myDict = {1:'john',2:'Bob',3:'Alie'}
myDict

{1: 'john', 2: 'Bob', 3: 'Alie'}

In [55]:
myDict1 = {}

In [56]:
# Integer keys
myDict={1:'apple', 2:'ball'}

In [57]:
# mixed keys
myDict={'name':'john', 1:[2,4,4]}
myDict

{'name': 'john', 1: [2, 4, 4]}

In [58]:
# Pairing
myDict = dict([(1,'john'),(2,'molli')])
myDict

{1: 'john', 2: 'molli'}

In [59]:
# Accesing Dictionary
myDict[1]

'john'

In [60]:
# len() -> find the length of dictionary
len(myDict)

2

In [61]:
# keys()-> print the keys of dict
myDict.keys()

dict_keys([1, 2])

In [62]:
# values()-> find the values of dict
myDict.values()

dict_values(['john', 'molli'])

In [63]:
# items() -> find the list of keys and values
myDict.items()

dict_items([(1, 'john'), (2, 'molli')])

# Sets

In [64]:
# Unordered collection of items within {}
mySet = {1,2,3}
mySet

{1, 2, 3}

In [65]:
# Creating Set
myset1 = {1,2,'c'}
myset2 = {1,'b','c'}

In [66]:
# Union -> union the two sets, find the all element only one time 
myset1|myset2

{1, 2, 'b', 'c'}

In [67]:
# Intersection -> find the intersection of two sets, common elements of both
myset1&myset2

{1, 'c'}

In [68]:
# Differences -> find the difference between two sets, different element in set1
myset1-myset2

{2}

# flow control

In [69]:
# if-else
# nested if-else
# for
# while
# break
# continue

In [70]:
# Syntax of if else statement
'''
if(condition):
    st1
else:
    st2
'''

# Syntax of nested if else statement
'''
if(condition):
    st1
elif(condition1):
    st2
else:
    st3
'''

# Syntax for 'for' loop
'''
for itrating_var in sequence:
    execute statement
'''
fruits = ['banana','apple','cherry']
for i in fruits:
    print(i)

banana
apple
cherry

In [71]:
# Syntax for 'while' loop
'''
while(condition):
    statement1
'''
a = 1
while a<5:
    print(a)
    a+=2

1
3

In [72]:
a = 1
while a<3:
    if(a%2==0):
        print(a,"is even")
    else:
        print(a,"is odd")
    a+=1

1 is odd
2 is even

In [73]:
# How to use break in loop
'''
1. start the loop
2. check condition
3. if condition is true
    1. Check break condition
        1. if break condition is true -> exit from loop
        2. if break condition is false -> execute block1 and repeat step 2
4. if condition is false-> exit the loop
'''

'\n1. start the loop\n2. check condition\n3. if condition is true\n    1. Check break condition\n        1. if break condition is true -> exit from loop\n        2. if break condition is false -> execute block1 and repeat step 2\n4. if condition is false-> exit the loop\n'

In [74]:
# How to use continue in loop
'''
1. start the loop
2. check condition
3. if condition is true
    1. Check continue condition
        1. if continue condition is true -> execute till the continue condition
        2. if continue condition is false -> exit
4. if condition is false-> exit the loop
'''

'\n1. start the loop\n2. check condition\n3. if condition is true\n    1. Check continue condition\n        1. if continue condition is true -> execute till the continue condition\n        2. if continue condition is false -> exit\n4. if condition is false-> exit the loop\n'

# Function

In [75]:
# Function -> Function is a block of organized reusable set of instructions that is used to perform some related actions.
# functions are two types:
# 1. Built in function
# 2. User Defined function

# Built in function -> These function already provided by python developer, user can use these functions as required.
# for example (abs(), all(), any(), ascii(), bin(), bool())

# User defined function -> These function created by user for thier requirement. It is customised function.

In [76]:
# Syntax of Function
'''
def func_name(arg1, arg2, arg3, ....):
    statement
    return
'''
def add(a,b):
    sum = a+b
    return sum

add(2,3)

5

# Function Call

In [77]:
# Two types of function calls are:
# 1. Pass by values
# 2. Pass by reference

In [78]:
# Pass by values
a=10
def ChangeThem(b):
    print("value of b is", b)
    b=100
    print("New value of b is", b)
    
ChangeThem(a)

value of b is 10
New value of b is 100

In [79]:
# Pass by Reference
c = [10, 20, 30]
def ChangeThem(d):
    print("value of d is", d)
    d[0]=99
    d[1]=98
    print("New value of d is", d)

ChangeThem(c)

value of d is [10, 20, 30]
New value of d is [99, 98, 30]

# Python Lambda Function

In [80]:
# Python lambda function is the anonymous function. i.e.function having no name
# Syntax :
# Lambda arguments: Expression
x = lambda a:a+10
print(x(5))

15

In [81]:
def multiply(x,y):
    return x*y

multiply(2,3)

6

In [82]:
mul = lambda x, y:x*y
mul(2,3)

6

In [83]:
# Power of lambda function -> Anonymous function inside another function.
def myFunc(n):
    return lambda a:a+n
mySum = myFunc(3)
mySum(10)

13

# Python Array

In [84]:
# Array-> Used to store multiple value in one singe variable.
car1 = 'ford'
car2 = 'volvo'
car3 = 'bmw'
# Using array
cars = ['ford','volvo', 'bmw']

In [85]:
# Accessing the element
cars[0]

'ford'

In [86]:
# Modifying the element
cars[0]='Honda'
cars[0]

'Honda'

In [87]:
# length of array
len(cars)

3

In [88]:
# Looping the array
for x in cars:
    print(x)

Honda
volvo
bmw

In [89]:
# append the element
cars.append('suzuki')

In [90]:
cars

['Honda', 'volvo', 'bmw', 'suzuki']

In [91]:
# Removing one elemet
cars.pop()

'suzuki'

In [92]:
# Removing specific element
cars.remove('bmw')

In [93]:
cars

['Honda', 'volvo']

# File Handling

In [94]:
'''
Following operations are performed in file handling.
1.Open
2.Read
3.write/create
4.delete

open("path of file/file name", mode of file)

Modes are:
r = 'read'
a = 'append'
w = 'write'
x = 'create'
'''

'\nFollowing operations are performed in file handling.\n1.Open\n2.Read\n3.write/create\n4.delete\n\nopen("path of file/file name", mode of file)\n\nModes are:\nr = \'read\'\na = \'append\'\nw = \'write\'\nx = \'create\'\n'

In [96]:
# Create the empty file 
f = open("fi.txt", 'x')

In [97]:
# write some text in the file 
f = open("firstfile.txt", 'w')
f.write("This is first line")

18

In [98]:
# Append the text in the file 
f = open("firstfile.txt", 'a')
f.write("This is second line")

19

In [99]:
# Read the file content
f = open("firstfile.txt", 'r')
f.read(4)
f.readline()
f.readlines()

f.close()